[
  "Praia\nO único lugar que o sal é responsável por baixar a pressão arterial.",
  "A vida é feita de momentos.\nAproveite cada um deles",
  "O mar é o meu lugar favorito.\nOnde tudo faz sentido.",
  "Cada onda traz uma nova oportunidade.\nAproveite o momento!"
]
